<!DOCTYPE html>
<html>
<head>
	<title>Products</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="assets/dialog/css/gijgo.min.css">
	
	<style type="text/css">
	.loader {
		border: 8px solid #f3f3f3; /* Light grey */
		border-top: 8px solid #3498db; /* Blue */
		border-radius: 50%;
		width: 80px;
		height: 80px;
		animation: spin 2s linear infinite;
		margin: 0 auto;
		display: none;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>
</head>
<body>
	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" id="title">Title</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#" >Link</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/user/page-profile.html" id="username" class="glyphicon glyphicon-user"> Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li id="lilogin"><a href="/user/page-login.html" id="login">Login</a></li>
							<li id="liregister"><a href="/user/page-register.html" id="register">register</a></li>
							<li hidden="true" id="lilogout"><a href="/" id="logout" >Logout</a></li>
							<li hidden="true" id="liprofile"><a href="/user/page-profile.html" id="profile" >Profile</a></li>
							<li role="separator" class="divider"></li>
							<li id="sellproductxx" hidden><a href="/user/up-product.html">Sell product</a></li>
							<li id="sellingproductxx" hidden><a href="/ProductSelling.html">Selling product List</a></li>
							<li id="soldproductxx" hidden><a href="/ProductSold.html">Sold product List</a></li>

							<li role="separator" class="divider"></li>

							<li id="favproductxx" hidden><a href="/favoritesproductlist.html">Favorites products</a></li>
							<li id="beingproductxx" hidden><a href="/BeingAuctioned.html">Being Auctioned products</a></li>
							<li id="winproductxx" hidden><a href="/ProductWin.html">Win Auction Products</a></li>
							<li id="ordersellxx" hidden><a href="/user/page-ordersell.html">Order Sell</a></li>


						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row" >
			<div class="col-sm-8 col-md-8 col-md-offset-2 col-ms-offset-2 product" id="showcomment">
				<div class="form-group">
			      <label for="name">Name:</label>
			      <input type="text" class="form-control" id="name"  name="name" readonly>
			    </div>
				<div class="form-group">
			      <label for="email">Email:</label>
			      <input type="email" class="form-control" id="email"  name="email" readonly>
			    </div>
			    <div class="form-group">
			      <label for="mark">Mark Sum:</label>
			      <input type="text" class="form-control" id="mark" name="mark" readonly="">
			    </div>
			     <div class="form-group">
			      <label for="address">Address:</label>
			      <input type="text" class="form-control" id="address" name="address" readonly="">
			    </div>
			     <div class="form-group">
			      <label>Comment:</label>
			      
			    </div>
			</div>
		</div>

		<script id="comment-template" type="text/x-handlebars-template">
		{{#each this}}
			<div class="form-group">
				<label for="pwd">Name: {{namek}} </label><br>
				<text> Mark: {{score}}</text><br>
				<p class="txtcmt glyphicon glyphicon-edit"> {{content}} </p><br>
			</div>

		{{/each}}
	</script>


	
	
	<script src="assets/jquery-3.3.1.min.js"></script>
	<script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="assets/handlebars.min-v4.0.11.js"></script>
	<script src="assets/handlebars-intl-1.1.2/handlebars-intl.min.js"></script>
	<script src="assets/jquery-ui.js"></script>
	<script src="assets/dialog/js/gijgo.min.js"></script>
	<script type="text/javascript" src="assets/jquery.number.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script src="assets/me/index.js"></script>
	<script src="assets/me/viewuser.js"></script>



</body>
</html>